@import "~utils/styles/variables";
@import "~utils/styles/helpers";
@import "~utils/styles/typography";
@import "node_modules/bootstrap-scss/mixins/breakpoints.scss";

.Error404{
	width: 100%;
	height: 100%;
	@include background;
	&__wrap{
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		width: 100%;
		height: 100%;
		flex-wrap: wrap;
		flex-direction: column;
		color: $base;
	}
	&__title{
		@include fontSize(100px);
		margin: 0;
		text-transform: uppercase;
		text-align: center;
  		user-select: none;
		@include media-breakpoint-down( sm ){
			@include fontSize(70px);
		}
	}
	&__message{
		background: $white;
		padding: 25px;
		@include fontSize(24px);
		margin: 50px 15px;
		white-space: pre-line;
		border-radius: 10px;
		text-align: center;
		text-transform: uppercase;
  		box-shadow: 25px 29px 29px 0px rgba($alt, 0.32);
  		user-select: none;
  		@include media-breakpoint-down( sm ){
			@include fontSize(18px);
			margin: 30px 15px;
			padding: 15px 25px;
  		}
	}
	&__button{
		min-width: 200px;
	}

}