@import "~utils/styles/variables";
@import "~utils/styles/helpers";
@import "~utils/styles/typography";
@import "node_modules/bootstrap-scss/mixins/breakpoints.scss";
.FrontPage{
	color: $base;
	overflow-x: hidden;
	overflow-y: auto;
	.section-title{
		@include fontSize(40px);
		text-align: center;
		margin: 0 auto;
		padding: 80px 0;
		width: 100%;
		@include media-breakpoint-down( sm ){
			@include fontSize(30px);
		}
	}
	// .coverChunks{
	// 	&__wrap{
	// 		position: absolute;
	// 		left: 0;
	// 		right: 0;
	// 		display: flex;
	// 		z-index: 2;
	// 		justify-content: space-between;
	// 		transition: 1s .0s cubic-bezier(0.86, 0, 0.07, 1);
	// 		@include media-breakpoint-down( sm ){
	// 			display: none;
	// 		}
	// 	}
	// 	&__left,&__right{
	// 		position: absolute;
	// 		max-width: 200px;
	// 		top: 100px;
	// 		@include media-breakpoint-down( xl ){
	// 			max-width: 100px;
	// 		}
	// 	}
	// 	&__left{
	// 		// left: 0;
	// 		left: -50px;
	// 		@include media-breakpoint-down( xl ){
	// 			left: -50px;
	// 		}
	// 	}
	// 	&__right{
	// 		// right: 0;
	// 		right: -50px;
	// 		@include media-breakpoint-down( xl ){
	// 			right: -50px;
	// 		}
	// 	}
	// }
}