@import "./variables";
@import "./typography";
@import "node_modules/bootstrap-scss/mixins/breakpoints.scss";

.button{
	padding: 10px 20px;
	background: $white;
	text-transform: uppercase;
	@include fontSize(16px);
	font-weight: $normal;
	letter-spacing: 1.5px;
	position: relative;
	z-index: 1;
	transition: .3s ease;
	cursor: pointer;
	display: inline-flex;
	text-align: center;
	border: 0;
	outline: 0;
	user-select: none;
	justify-content: center;
	align-items: center;
}