.container{
	width: 100%;
	min-width: 300px;
	margin: 0 auto;
}

// @include media-breakpoint-up(xxl) {
// 	.container{
// 		max-width: map-get($container-max-widths, xxl);
// 	}
// }
@include media-breakpoint-up(xl) {
	.container{
		max-width: map-get($container-max-widths, xl);
	}
}
@include media-breakpoint-only(lg) {
	.container{
		max-width: map-get($container-max-widths, lg);
	}
}
@include media-breakpoint-only(md) {
	.container{
		max-width: map-get($container-max-widths, md);
	}
}
@include media-breakpoint-only(sm) {
	.container{
		max-width: map-get($container-max-widths, sm);
	}
}
@include media-breakpoint-down (xs) {
	.container{
		max-width: map-get($container-max-widths, xs);
		// min-width: 320px;
	}
}
@include media-breakpoint-down (xxs) {
	.container{
		max-width: map-get($container-max-widths, xxs);
		// min-width: 320px;
	}
}
