@import './_variables.scss';
@import './_typography.scss';

html{
	font-family: $base-font;
	color: $black;
	min-width: 320px;
	width: 100%;
	height: 100%;
	font-size: 16px;
	@include media-breakpoint-only(xl){
		font-size: 14px;
	}@include media-breakpoint-down(lg){
		font-size: 15px;
	}
	@include media-breakpoint-down(sm){
		font-size: 14px;
	}
}
body{
	width: 100%;
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
*{
	box-sizing: border-box;
}
#root{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.row{
	display: flex;
	flex-wrap:wrap;
}