@mixin center{
	margin-left: 50%;
	transform: translateX(-50%);
}
@mixin background{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
@mixin center-both{
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

@mixin caret{
	position: relative;
	display: inline-flex;
	align-items: center;
	align-content: center;
	&:after{
		content: '';
		display: block;
		position: absolute;
		height: 8px;
		width: 8px;
		border-bottom: 2px solid $base;
		border-left: 2px solid $base;
		margin: -2px 0 0;
		right: 3px;
		transform: rotate(-45deg);
		transition: .3s;
	}
	.ios &{
		&:after{
			right: 5px;
			top: 0;
			margin: 0;
		}	
	}
}
@mixin caretActive{
	&:after{
		transform: rotate(135deg);
		margin: 2px 0 0;
	}
}
@mixin rect($height){
	&:after{
		content: '';
		padding-top: $height;
		display: block;
		width: 100%;
	}
}