$grid-breakpoints: (
	xxs: 0,
	xs: 450px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
	4k: 3040px
) !default;

$container-max-widths: (
	xxs: 98%,
	xs: 420px,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1400px,
	4k: 3000px
) !default;

/*=============================
=            Fonts            =
=============================*/
	$base-font:		'Roboto', Courier, sans-serif;
	$ico-font:		'FontAwesome';
/*=====  End of Fonts  ======*/

/*==============================
=            Colors            =
==============================*/
	$white:			#F0F3EE;
	$black:			#000000;
	$base:			#CC9353;
	$alt:			#CC9353;
	$gray:			#E5E5E5;

/*=====  End of Colors  ======*/

/*====================================
=            Font Weights            =
====================================*/
	$light:			300;
	$normal:		500;
	$bold:			700;
/*=====  End of Font Weights  ======*/


$column: 100% / 12;
$nav-bar-height: 80px;
$sicky-nav-bar-height: 50px;
$gutters: 0 15px;
