@import "~utils/styles/variables";

.closer__holder{
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($base,.5);
	transition: .2s;
	visibility: hidden;
	&.active{
		opacity: 1;
		visibility: visible;
	}
}