@import "~utils/styles/variables.scss";

@keyframes Spin {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

.loaderMini{
	&__wrap{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($gray,1);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 999;
		min-height: 50px;
	}
	&__inner{
		text-align: center;
		display: flex;
		flex-wrap: wrap;
	}
	&__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		perspective: 80px;
		&:after{
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 4px solid rgba(0,0,0,.1);
			border-top: 4px solid #000;
			animation: Spin 1s infinite cubic-bezier(.2,.8,.8,.2);
		}
	}
}