@import "../../helpers/variables.scss";
@import "../../helpers/typography.scss";

.popup{
	&__wrap{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(#fff,.9);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 99;
	}
	&__inner{
		width: 50%;
		// height: 50%;
		padding: 30px 15px 15px;
		background: #fff;
		border-radius: 2px;
		text-align: center;
		position: relative;
		box-shadow: $boxshadow;
		display: flex;
		flex-wrap: wrap;
		max-height: 80vh;
		@include media-breakpoint-down( sm ){
			width: 90%;
		}
	}
	&__content{
		padding: 0 0 15px;
		width: 100%;
		height: calc(100% - 40px);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// align-items: center;
		// align-content: center;
		overflow: auto;
		max-height: calc(70vh - 40px);
		h3{
			width: 100%;
			text-align: center;
		}
		p{
			width: 100%;
			white-space: pre-line;
			text-align: center;
		}
	}
	&__close{
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 40px;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: .2s;
		line-height: 0;
		padding: 0 0 10px;
		&:hover{
			background: $alt-light;
		}
	}
}