@import "~utils/styles/variables";
@import "node_modules/bootstrap-scss/mixins/breakpoints.scss";

.content{
	&__wrap{
		padding-top: $nav-bar-height;
		min-height: 85vh;
		@include media-breakpoint-down( lg ){
			padding-top: $sicky-nav-bar-height;
		}
	}
}