@import "~utils/styles/variables";
@import "~utils/styles/helpers";
@import "~utils/styles/typography";
@import "node_modules/bootstrap-scss/mixins/breakpoints.scss";

.header{
	&__wrap{
		position: fixed;
		width: 100%;
		top: 0;
		height: $nav-bar-height;
		background: #FBF4F5;
		color: $base;
		transition: .4s;
		z-index: 80;
		&.sticky{
			height: $sicky-nav-bar-height;
			box-shadow: 0 0 10px $base;
		}
		@include media-breakpoint-down( lg ){
			height: $sicky-nav-bar-height;
		}
	}
	&__inner{
		display: flex;
		justify-content: space-between;
		height: 100%;
		padding: 0 15px;
		position: relative;
		@include media-breakpoint-down( md ){
			justify-content: flex-end;
		}
		@include media-breakpoint-down( md ){
			position: static;
			// padding: 0;
			// max-width: calc(100% - 30px);
		}
	}
	&__logo{
		display: flex;
		align-items: center;
		padding: 5px 0;
		position: relative;
		width: 140px;
		min-width: 140px;
		@include media-breakpoint-between( sm,md ){
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 160px;
		}
		@include media-breakpoint-down( xs ){
			margin: 0 auto 0 10px;
		}
		span{
			// width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		svg{
			display: block;
			// max-height: 14px;
			object-fit: contain;
			object-position: left center;
			width: 100%;
			.logo-alt{
				fill: $alt;
			}
		}
	}
	&__hamburger{
		display: none;
		@include media-breakpoint-down( md ){
			display:block;
			user-select: none;
			position: relative;
			align-self: center;
			cursor:pointer;
			width: 25px;
			height: 22px;
			text-align:center;
			transition: .4s;
			span{
				height: 2px;
				width: 100%;
				background: $base;
				position: absolute;
				left:0px;
				right:0px;
				display: inline-block;
				overflow: hidden;
				transition:all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				&:first-child,&:last-child{
					visibility:visible;
					width:100%;
					left:50%;
					transform:translateX(-50%);
				}
				&:nth-child(2){
					top: 10px;
					transform:rotate(0deg);
				}
				&:nth-child(3){
					top: 10px;
					transform:rotate(0deg);
				}
				&:last-child{
					top: 20px;
				}
			}
			&.active{
				span{
					&:first-child,&:last-child{
						visibility:hidden;
						top:10px;
						width:0px;
					}
					&:nth-child(2){
						transform: rotate(45deg);
					}
					&:nth-child(3){
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}