@import "~utils/styles/variables";
@import "~utils/styles/helpers";
@import "~utils/styles/typography";
@import "node_modules/bootstrap-scss/mixins/breakpoints.scss";

.langSwitcher{
	&__wrap{
		position: relative;
		// display: none;
		&:hover{
			.langSwitcher{
				&__item--nav{
					@include caretActive;
				}
				&__switch{
					opacity: 1;
					visibility: visible;
				}
			}	
		}
		// @include media-breakpoint-down( md ){
		// 	width: 100%;
		// }
	}
	&__toggler{
		min-width: 40px;
		height: 30px;
		padding: 0;
		margin: 0 10px 0 3px;
		text-transform: uppercase;
		user-select: none;
		// @include fontSize(18px);
		font-size: 18px;
		text-align: center;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		@include media-breakpoint-up( sm ){
			@include caret;
		}
		@include media-breakpoint-down( xs ){
			justify-content: center;
			height: 30px;
			min-width: 30px;
		}
		&:after{
			right: 4px;
		}
	}
	&__switch{
		cursor: pointer;
		transition: .4s;
		position: absolute;
		top: 100%;
		right: 0;
		opacity: 0;
		visibility: hidden;
		background: lighten($base,10%);
		width: 100%;
	}
	&__item{
		padding: 10px 10px;
		text-transform: uppercase;
		user-select: none;
		@include fontSize(18px);
		// min-width: 60px;
		text-align: center;
		width: 100%;
		&--current{
			background: lighten($base,25%);
		}
		@include media-breakpoint-down( sm ){
			padding: 10px;
			// min-width: 40px;
		}
	}
}