@import "~utils/styles/variables";
@import "~utils/styles/helpers";
@import "~utils/styles/typography";
@import "node_modules/bootstrap-scss/mixins/breakpoints.scss";

.navigation{
	&__wrap{
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-down( md ){
			width: auto;
		}
		&.active{
			.navigation{
				@include media-breakpoint-down( md ){
					&__inner{
						right: 0;
						// left: 60%;
					}
				}
				// @include media-breakpoint-down( xs ){
				// 	&__inner{
				// 		// left: 40%;
				// 	}
				// }
				// @include media-breakpoint-down( xxs ){
				// 	&__inner{
				// 		// left: 20%;
				// 	}
				// }
			}
		}
	}
	&__close{
		position: absolute;
		top: 0;
		right: 5px;
		padding: 5px;
		font-size: 34px;
		line-height: 1;
		cursor: pointer;
		@include media-breakpoint-up( lg ){
			display: none;
		}
	}
	&__inner{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: space-around;
		justify-content: space-evenly;
		align-items: center;
		@include media-breakpoint-down( md ){
			position: fixed;
			overflow: hidden;
			flex-wrap: wrap;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: flex-start;
			padding: 40px 0 0;
			top: 0;
			right: -300px;
			height: 100vh;
			z-index: 2;
			background: $white;
			// left: 100%;
			transition: .3s;
			width: 300px;
		}
		@include media-breakpoint-down( xxs ){
			right: -80%;
			width: 80%;
		}
		.navItem{
			&__wrap{
				list-style: none;
				margin: 0 10px;
				position: relative;
				user-select: none;
				@include media-breakpoint-up( lg ){
					height: 100%;
					display: flex;
					align-items: center;
				}
				@include media-breakpoint-down( md ){
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					width: 100%;
					min-width: 300px;
				}
				&:hover{
					.navItemChildren__wrap{
						opacity: 1;
						visibility: visible;
						@include media-breakpoint-down( md ){
							max-height: 300px;
						}
					}
				}
				&--has-childs{
					> .navItem__inner{
						@include caret;
						padding-right: 20px;
						@include media-breakpoint-down( md ){
							padding-bottom: 10px;
							&:after{
								display: none;
							}
						}
					}
					&:hover{
						> .navItem__inner{
							@include caretActive;
						}
					}
				}
				&:last-child{
					> .navItemChildren{
						&__wrap{
							@include media-breakpoint-up( lg ){
								right: -15px;
								left: initial;
							}
						}
					}
				}
				&--featured{
					> .navItem__inner{
						background: $alt;
						box-shadow: 3px 3px 3px rgba($base,.3);
						border-radius: 3px;
						color: $white;
						padding: 6px 30px;
					}
				}
				&--mobile{
					@include media-breakpoint-up( lg ){
						display: none;
					}
				}
				&--desktop{
					@include media-breakpoint-down( md ){
						display: none;
					}
				}
				> .navItemChildren{
					&__wrap{
						list-style: none;
						margin: 0;
						padding: 0;
						transition: .4s;
						padding: 10px 0 0;
						min-width: 200px;
						display: flex;
						flex-wrap: wrap;
						@include media-breakpoint-up( lg ){
							position: absolute;
							background: $white;
							opacity: 0;
							visibility: hidden;
							// right: -15px;
							left: -15px;
							top: 100%;
							box-shadow: 0 5px 10px -5px $base;
							border-top: 1px solid rgba($base, .1);
						}
						@include media-breakpoint-down( md ){
							width: 100%;
							overflow: hidden;
							padding: 0 0 0 15px;
						}
						> .navItemChildren__item{
							padding: 0 10px 10px;
							font-weight: $normal;
							@include fontSize(16px);
							display: block;
							position: relative;
							user-select: none;
							@include media-breakpoint-down( md ){
								@include fontSize(14px);
								width: 100%;
							}
						}
					}
				}
			}
			&__inner{
				padding: 10px;
				display: block;
				@include fontSize(16px);
				text-align: center;
			}
		}
	}
}