@keyframes Spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

#loader{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: #fff;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease;
	perspective: 80px;
}
#loader.loader{
	transition:none !important;
	visibility:visible;
	opacity: 1;
}
#loader:after{
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 4px solid rgba(0,0,0,.1);
	border-top: 4px solid #000;
	animation: Spin 1s infinite cubic-bezier(.2,.8,.8,.2);
}