<!-- APP Version: <%= htmlWebpackPlugin.options.version %> -->
<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<title>Pipline APP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" id="preloader-css" href="/assets/styles/preloader.css" type="text/css" media="all">
</head>
<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	
	<div id="loader" class="loader"></div>
	
	<div id="root"></div>

	<script crossorigin src="https://unpkg.com/react@16/umd/react.<%= htmlWebpackPlugin.options.environment %>.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.<%= htmlWebpackPlugin.options.environment %>.js"></script> 
	<link rel="stylesheet" id="scss-css" href="/assets/styles/styles.css?v=<%= htmlWebpackPlugin.options.version %>" type="text/css" media="all">
	<script src="/index.js?v=<%= htmlWebpackPlugin.options.version %>" async></script>
</body>
</html>